.buyMainContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.buyDescription {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.productInfoContainer {
  width: 100%;
  height: 300px;
  overflow: auto;

  box-shadow: inset 0px -12px 12px -12px black, inset 0px 12px 12px -12px black;
}

.productDisplay {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  color: #999999;
  min-height: 60px;
  border-bottom: 1px solid #CCCCCC;
}

.productDisplay:hover {
  color: #CCCCCC;
}

.productDisplay:last-of-type {
  border-bottom: none;
}

.productName {
  font-weight: bold;
}

.productId {
  font-weight: normal;
  font-style: italic;
}

.purchaseContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  max-height: 50%;
  margin-top: 20px;

  border: 1px solid #CCCCCC;
  padding: 1vh 2vw;
}

.purchaseActionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.productRelatedPurchaseInfo {
  display: flex;
  flex-flow: column;
}

.purchaseEntryField {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.purchaseEntryField.rightmost {
  margin-right: 0px;
}

.purchaseEntryField > input {
  width: 60px;
  flex: 1 2 0px;
  text-align: right;
}

.purchaseButton {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-left: 20px;
}

.btn-primary {
  background: #1fad0c;
  align-self: flex-end;
}

.additionalInfoContainer {
  overflow-y: auto;
}

.disclaimer {
  color: #968c05;
}

.NoCCInfoWarningBanner {
  margin-top: 20px;
  color: #a73030;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .buyTopContainer {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 450px) {
  .purchaseButton {
    justify-content: end;
    flex-grow: 1;
  }
}