.websiteButton {
  width: fit-content;
  border: 1px solid #CCCCCC;
  background-color: transparent;
  border-radius: 2px;
  padding: 8px;
  color: #CCCCCC;
}

.websiteButton:disabled {
  border: 1px solid #444444;
  color: #444444;
}

@media (hover) {
  .websiteButton.positive:hover:enabled {
    border: 1px solid #1fad0c;
    color: #1fad0c;
  }
  
  .websiteButton.negative:hover:enabled {
    border: 1px solid #a73030;
    color: #a73030;
  }
}
