.sideMenuOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: auto;
  background-color: black;
  transition: background-color 0.3s ease-in-out;
  z-index: 8;
}

.sideMenuOverlay.open {
  background-color: rgba(0, 0, 0, .5);
}

.sideMenuOverlay.closed {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}