.profileEditMainContainer {
  margin-bottom: 30px;
}

.profileEditTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  min-height: 40px;
  background-color: #333333;
  position: sticky;
  top: -1px;
}

.profileEditSpinnerContainer {
  margin: 0px 10px;
}

.profileEditSubmitContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profileEditButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileEditButtonContainer > button {
  width: 67%;
  max-width: 300px;
}

.profileEditErrorDisplayContainer {
  color: #a73030;
}
