.itemContainer {
  border-bottom: 1px solid #CCCCCC;
}

.itemInnerContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.itemContentContainer {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.statusPreviewContainer {
  font-weight: normal;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
}

.addActionIcon {
  color: #CCCCCC;
}

.removeActionIcon {
  color: #CCCCCC;
}

.itemAvailableColor {
  color: #1fad0c;
}

.itemLowStockColor {
  color: #968c05;
}

.itemUnavailableColor {
  color: #a73030;
}