.appContainer {
  position: absolute;
  height: 100%;
  width: 76vw;
  margin-left: 12vw;
  margin-right: 12vw;
  background-color: #333333;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .appContainer {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}