.logoContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImage {
  max-height: 40px;
  width: auto;
}

.logoText {
  font-size: x-small;
  font-weight: bold;
}