.sectionTitle {
  font-size: large;
  font-weight: bold;
  padding: 15px 10px;
  border-bottom: 2px solid #CCCCCC;
  background-color: #333333;
}

.sectionTitle.left {
  text-align: left;
}

.sectionTitle.right {
  text-align: right;
}

.subscriptionManagementContainer {
  display: flex;
  justify-content: space-evenly;
  box-shadow: inset 0px -7px 8px -9px black;
  overflow: auto;
}

.subscriptionSectionContainer {
  display: flex;
  flex-flow: column;
  flex-basis: 50%;
  margin-right: 5px;
}

.subscriptionSectionContentContainer {
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .subscriptionTopContainer {
    height: unset;
  }

  .subscriptionManagementContainer {
    flex-flow: wrap;
    box-shadow: unset;
  }

  .subscriptionSectionContainer {
    flex-basis: 100%;
  }
  .subscriptionSectionContentContainer {
    overflow-y: unset;
  }

  .sectionTitle {
    position: sticky;
    top: -1px;
  }
  
  .sectionTitle.right {
    text-align: left;
  }
}
