.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  width: 100%
}

.searchBarContainer > * {
  flex: 1;
}

.searchIconContainer {
  display: flex;
  justify-content: flex-end;
}

.searchBarInput {
  background-color: transparent;
  border: none;
  border-bottom: thin solid #999999;
  color: #CCCCCC;
  max-width: 300px;
  margin: auto 2px;
  outline: none;

  align-self: center;
  flex: 10;
}
