.sideMenuMainContainer {
  background: #333333;
  height: 100vh;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  padding-top: calc(55px + 6vh);
  padding-bottom: 30px;
  transition: transform 0.3s ease-in-out;
  z-index: 9;
}

.sideMenuMainContainer.open {
  transform: translateX(0);
}

.sideMenuMainContainer.closed {
  transform: translateX(-100%);
}

.sideMenuContentContainer {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.sideMenuSectionSeparator {
  margin: 0px 10px;
  border-bottom: thin #CCCCCC solid;
}

@media screen and (max-width: 450px)  {
  .sideMenuMainContainer {
    width: 100%;
  }
}