.sideMenuEntry {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.sideMenuEntry > * {
  color: #999999;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 30px 0px;
}

.sideMenuEntry > *:hover {
  color: #CCCCCC;
  text-decoration: none;
}
