.dataEntryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.dataEntryContainer > * {
  flex: 1;
  display: flex;
}

.fieldName {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-weight: bold;
}

.fieldName {
  align-self: flex-end;
}

.fieldValue {
  flex: 2;
}

.dataEntryInput {
  background-color: transparent;
  border: none;
  border-bottom: thin solid #999999;
  color: #CCCCCC;
  max-width: 300px;
  outline: none;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .dataEntryContainer {
    flex-flow: column;
    align-items: stretch;
  }

  .fieldName {
    justify-content: unset;
    align-self: unset;
  }

  .dataEntryInput {
    max-width: unset;
  }
}