.appHeaderContainer {
  margin: 3vh 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appHeaderContainer > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.menuButton {
  z-index: 10;
}

.nameDisplay {
  font-size: large;
  font-weight: bold;
}

.nameDisplay span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
