.loginMainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContentContainer {
  padding: 15px;
  display: flex;
  flex-flow: column;

  align-items: center;
}

.loginTitleContainer {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}