.registrationContainer {
  display: flex;
  flex-flow: column;
}

.registrationSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.registrationSectionContainer>label {
  font-weight: bold;
  text-align: right;
  margin-bottom: 0px;
  margin-right: 10px;
  flex-grow: 1;
}

.registrationInput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: #CCCCCC;
  width: 300px;
}

.registrationAdditionalInfo {
  max-width: 400px;
  margin-bottom: 20px;
}

.registrationButton {
  align-self: flex-end;
}

@media screen and (max-width: 675px) {
  .registrationSectionContainer {
    flex-flow: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .registrationInput {
    width: 100%;
  }
}