.billingEditTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  min-height: 40px;
  background-color: #333333;
  position: sticky;
  top: -1px;
}

.billingEditSpinnerContainer {
  margin: 0px 10px;
}

.scaryButtons>*, .nonScaryButtons>* {
  margin: .25rem;
}

.billingInfoEditErrorDisplayContainer {
  color: #a73030;
}

.billingInfoSubmissionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  max-width: 575px;
}

.billingDisclaimer {
  width: 67%;
  color: #968c05;
  margin-bottom: 20px;
}

.billingInfoButtonContainer {
  width: 67%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 575px) {
  .billingDisclaimer {
    width: unset;
  }

  .billingInfoButtonContainer {
    width: 100%;
  }
}